{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Nitin's Blog</title>
	<div class="page-header">
		{% if user.is_authenticated %}
		<a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
		{% endif %}
	<h1><a href="/">Home</a></h1>
	</div>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="{% static 'css/blog.css' %}">
	<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
</head>
<body>
{% block content %}{% endblock %}	

</body>
</html>